html{
    background-color: rgb(230, 240, 255);
    height: 100%;
    margin: 0;
    scroll-behavior: smooth;
}

body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    margin: 0;
}


h1[id="create"]{
    color: white;
    text-align: center;
    margin: 0;
}
h1[id="titleh1"]{
    color: black;
    font-size: 250%;
    margin-bottom: 50px;
    text-align: center;
}
h1[id="desh1"]{
    color: black;
    font-size: 100%;
    text-align: center;
}
span{
    background: linear-gradient(to right, darkblue, blue,lightblue,darkblue);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    
}

div[id="description"]{
    max-width: 80%;
    margin: auto;
    
}
div[id="homepage"]{
    margin-bottom: 50px;
    max-width: 90%;
}

div[id= "image"]{
    display: flex;
    margin-top: auto;
    width: 75%;
    justify-content: center;
}
div[id="startdiv"]{
    margin-bottom: 5px;
}
img[id="profile-pic"]{
    width: auto;
    max-width: 100%;
}

button[id="start"]{
    background-color: darkblue;
    padding: 5px 10px;
    border: none;
    border-radius: 10px;
}

button[id="start"]:hover{
    transition: 0.1s ease-in; background-color: 0.1s ease-in;
    transform: scale(1.05);
    background-color: rgb(0,0,75);
}