html{
    background-color: rgb(0,0,75);
    height: 100%;
    margin: 0;
    scroll-behavior: smooth;
}

body{
    margin: 0;
    height: 100%;
    position: relative;
}


div[id="PersonalInfoPage"]{
    display: flex;
    flex-direction: column;
    position: absolute;
    background-color: rgb(230,240,255);
    width: 100%;
    border-top-right-radius: 75px;
    height: 95%;
    bottom: 0;
    left: 0;
    align-items: center;
}

div[id="QANSdivs"]{
    display: flex;
    flex-direction: column;
    margin-top: 5%;
}

div[id="NextBackButtons"]{
    display: flex;
    flex-direction: row;
    margin-top: auto;
}

div[id="ansdiv"]{
    margin-top: 10%;
}
input[id="ans"]{
    position: absolute;
    background-color: rgb(230,240,255);
    border-color: black;
    border-radius: 10px;
    font-size: clamp(10%, 200%, 300%);
    left: 50%;
    transform: translate(-50%);
    text-align: center;
}
h1{
    color: rgb(0, 0, 0);
    text-align: center;
}


div[id="InfoTitle"]{
    width: 100%;
}


div[id="backbutton"]{
    position: absolute;
    bottom: 1%;
    left: 1%;
}



div[id="nextbutton"]{
    position: absolute;
    bottom: 1%;
    right: 1%;
}


h1[id="fill"]{
    color: white;
    font-size: clamp(5px, 3.5vh, 24px);
    line-height: 1.0;
    margin: 0;
    text-align: center;
}

h1[id="B"]{
    color: white;
}
h1[id="N"]{
    color: white;
}
button[id="back"]{
    background-color: darkblue;
    padding: 5px 10px;
    border: none;
    border-radius: 10px;
}
button[id="next"]{
    background-color: darkblue;
    padding: 5px 10px;
    border: none;
    border-radius: 10px;
}

button[id="back"]:hover{
    transition: 0.1s ease-in; background-color: 0.1s ease-in;
    transform: scale(1.05);
    background-color: rgb(0,0,75);
}
button[id="next"]:hover{
    transition: 0.1s ease-in; background-color: 0.1s ease-in;
    transform: scale(1.05);
    background-color: rgb(0,0,75);
}

input[id="ans"]:hover{
    background-color: 0.2s ease-in;
    background-color: aliceblue;
}