html{
    background-color: rgb(0,0,75);
    height: 100%;
    margin: 0;
    scroll-behavior: smooth;
}

div[id="PersonalInfoPage"]{
    position: absolute;
    background-color: rgb(230,240,255);
    width: 100%;
    height: 75%;
    bottom: 0;
    left: 0;
    border-top-right-radius: 75px;
}
h1{
    color: rgb(0, 0, 0);
}

div[id="PersonalInfoFrame"]{
    display: flex;
    flex-direction: row;
    width: 100%;
}
div[id="startdiv"]{
    margin-bottom: 20px;
    margin-top: 20px;
}

div[id="InfoTitle"]{
    position: absolute;
    text-align: center;
    width: fit-content;
    left: 50%;
    top: 0%;
    transform: translate(-50%);
}

div[id="backbutton"]{
    position: absolute;
    width: fit-content;
    top: 6.25%;
    transform: translate(0,-50%);
}

h1[id="fill"]{
    color: white;
}

h1[id="B"]{
    color: white;
}
button[id="back"]{
    background-color: blue;
    padding: 5px 10px;
    border: none;
    border-radius: 10px;
}

button[id="back"]:hover{
    transition: 0.1s ease-in; background-color: 0.1s ease-in;
    transform: scale(1.05);
    background-color: darkblue;
}