html{
    background-color: rgb(0,0,75);
    height: 100%;
    margin: 0;
    scroll-behavior: smooth;
}

body{
    margin: 0;
    height: 100%;
    position: relative;
}


div[id="InfoPage"]{
    display: flex;
    flex-direction: column;
    position: absolute;
    background-color: rgb(230,240,255);
    width: 100%;
    border-top-right-radius: 75px;
    height: 95%;
    bottom: 0;
    left: 0;
    align-items: center;
}

.question-step{
    display: flex;
    flex-direction: column;
    margin-top: 5%;
    width: 100%;
}

/*
div[id="QANSdivs"]{
    display: flex;
    flex-direction: column;
    margin-top: 5%;
    width: 100%;
}
*/

div[id="NextBackButtons"]{
    display: flex;
    flex-direction: row;
    margin-top: auto;
    justify-content: space-between;
    margin-bottom: 10px;
    width: 98%;
}

div[id="ansdiv"]{
    display: flex;
    margin-top: 10%;
    width: 100%;
    justify-content: center;
}
.ans{
    background-color: rgb(230,240,255);
    border-color: black;
    border-radius: 10px;
    font-size: clamp(0.1rem, 4vh, 5rem);
    width: 90%;
    resize: none;
}
h1{
    color: rgb(0, 0, 0);
    text-align: center;
    font-size: clamp(0.1rem, 4vh, 5rem);
}


div[id="InfoTitle"]{
    width: 100%;
}

div[id="eduinfo"]{
    width: 100%;
}

div[id="counter"]{
    background-color: darkblue;
    padding: 5px 10px;
    border: none;
    border-radius: 10px;
}

h1[id="c"]{
    color: white;
}
h1[id="fill"]{
    color: white;
    font-size: clamp(0.05vh, 3vh, 10vh);
    line-height: 1.0;
    margin: 0;
    text-align: center;
}
h1[id="edufill"]{
    color: white;
    font-size: clamp(0.05vh, 3vh, 10vh);
    line-height: 1.0;
    margin: 0;
    text-align: center;
}

h1[id="B"]{
    color: white;
}
h1[id="N"]{
    color: white;
}
button[id="back"]{
    background-color: darkblue;
    padding: 5px 10px;
    border: none;
    border-radius: 10px;
}
button[id="next"]{
    background-color: darkblue;
    padding: 5px 10px;
    border: none;
    border-radius: 10px;
}

button[id="back"]:hover{
    transition: 0.1s ease-in; background-color: 0.1s ease-in;
    transform: scale(1.05);
    background-color: rgb(0,0,75);
}
button[id="next"]:hover{
    transition: 0.1s ease-in; background-color: 0.1s ease-in;
    transform: scale(1.05);
    background-color: rgb(0,0,75);
}

.ans:hover{
    background-color: 0.2s ease-in;
    background-color: aliceblue;
}

@keyframes transformAnim{
    from {
        opacity: 0;
        transform: scale(0.8);
    }
    to {
        opacity: 2;
        transform: scale(1.0);
    }
}

.transformanim {
    animation: transformAnim 0.4s cubic-bezier(0.4, 0.25, 0.6, 1.75);
}